:root{
    --primary: #1572d3;
      --bg: #f7f8fb;
      font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
*{box-sizing:border-box}
html,body{height:100%}
body{
  margin:0;
  background:white;
  color:#0f172a;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  line-height:1.4;
}
/* container */
.container{
  max-width:1100px;
  margin:0 auto;
  padding:0 20px;
}

/* header */
.site-header{
  background:transparent;
  position:sticky;
  top:0;
  z-index:40;
  backdrop-filter: blur(6px);
}
.header-inner{
  display:flex;
  align-items:center;
  justify-content:space-between;
  height:72px;
}
.logo img{height:30px; margin-top: 12px;}
.nav{
  display:flex;
  gap:18px;
  align-items:center;
}
.nav a{ text-decoration:none; color:inherit; font-weight:600; padding:8px 10px; border-radius:8px;}
.nav a:hover{background:rgba(11,105,255,0.08)}
.btn-outline{
  background-color: #1572d3;
  border:1px solid rgba(11,105,255,0.14);
  padding:8px 16px;
  border-radius:10px;
}
/* mobile */
.mobile-menu-btn{display:none; background:none; border:0; font-size:20px;}
/* hero */
.hero{
  padding:60px 0;
  
}
.hero-inner{display:flex; gap:30px; align-items:center;}
.hero-left{flex:1}
.hero-right{flex:1; display:flex; justify-content:center; align-items:center}
.hero h1{
  font-size:2.1rem;
  margin:0 0 12px;
  line-height:1.05;
  font-weight:800;
}
.lead{color:#272727; margin-bottom:18px}

.btn-primary{
  background:black;
  color:#fff;
  border:none;
  padding:12px 18px;
  border-radius:8px;
  cursor:pointer;
  font-weight:700;
}
/* hero image */
.hero-image{
  width:100%;
  max-width:520px;
  object-fit:cover;
}
/* HERO DETAILS SEC */
.about{
    display: flex;
    gap: 20px;
    margin: 10px;
}
/* SEARCH BAR */
.search-bar-container{
  display: flex;
}
.search-bar .row{
  align-items: center !important;
}
.form-control.search-input {
  border: none;
  box-shadow: none;
}
/* SEARCH BAR END */
/* WORKING SECTION */
.work.sec {  
    display: flex;              
    justify-content: center; 
    align-items: center;     
    margin: 40px 0; 
}
.work.sec .btn{
    background-color: #c4d5e7;
    border: none;
    color: var(--primary);
}
.workhead{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}